.accomodation-page {
    width: 1240px;
    flex: 1;
    color:#FF6060
}

.accomodation-general-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodation-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodation-name-place h2, h3{
    font-weight:500 ;
}
.accomodation-name-place{
    margin: 20px 0;
}

.accomodation-name-place h2 {
    font-size:36px;
}

.accomodation-name-place h3 {
    font-size: 18px;
}
