.accomodation-page {
    min-height:calc(100% - 380px);
    width: 1240px;
}

.accomodation-general-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodation-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
