.accomodation-page {
    width: 1240px;
    flex: 1;
    color:#FF6060
}

.accomodation-general-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodation-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.accomodation-details .ScrollDown_article {
    width: 48% ;
}

.accomodation-details h2 {
    font-size: 18px;
}

.accomodation-name-place h2, h3{
    font-weight:500 ;
}
.accomodation-name-place{
    margin: 20px 0;
}

.accomodation-name-place h2 {
    font-size:36px;
}

.accomodation-name-place h3 {
    font-size: 18px;
}

@media (max-width:1240px) {
    .accomodation-page {
        width: 95%;
    }
    .accomodation-name-place h2 {
        font-size:18px ;
    }
    .accomodation-name-place h3 {
        font-size: 14px;
    }

    .accomodation-general-info {
        flex-direction: column;
    }

    .accomodation-details {
        flex-direction: column;
    }

    .accomodation-details .ScrollDown_article {
        width: 100%;
        font-size: 12px;
    }

    .ScrollDown_article h2 {
        font-size: 13px;
    }

    .host-and-ratings {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

}
