.banner {
    display: flex;
    justify-content: center;
    position: relative;
}

.banner_img {
    width:1240px;
    height:223px;
    border-radius: 25px;
    object-fit: cover;    
    z-index: 0;
    filter: brightness(60%);
}


.banner_text {
    position: absolute;
    top:30%;
    color: #FFFFFF;
    font-size: 4em;
    font-family: 'Monserrat';
    z-index: 1;
}