.banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin:20px 0 40px 0 ;
}

.banner_img {
    width:1240px;
    height:223px;
    border-radius: 25px;
    object-fit: cover;    
    z-index: 0;
    filter: brightness(60%);
}


.banner_text {
    position: absolute;
    top:40%;
    color: #FFFFFF;
    font-size: 48px;
    z-index: 1;
}

@media (max-width:1240px){
    .banner {
        width:95%;
    }

    .banner_img {
        height: 111px;
        border-radius: 15px;
    }

    .banner_text {
        font-size: 24px;
        
    }
}

@media (max-width:420px) {
    .banner_text {
        width: 217px;
        top:30%;
        left:5%;
    }
}