.banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin:20px 0 40px 0 ;
}

.banner_img {
    width:1240px;
    height:223px;
    border-radius: 25px;
    object-fit: cover;    
    z-index: 0;
    filter: brightness(60%);
}


.banner_text {
    position: absolute;
    top:40%;
    color: #FFFFFF;
    font-size: 48px;
    z-index: 1;
}