.card {
    width: 340px;
    height: 340px;
    background:linear-gradient(180deg, #FF6060 0%, rgba(0, 0, 0, 0.5) 100%);
    margin: 25px;
    border-radius: 15px;
    color:#ffffff;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
}

.card figcaption {
    width:170px;
}
