.card {
    max-width: 340px;
    height: 340px;
    background:linear-gradient(180deg, #FF6060 30%,#c04c4c 80%, rgba(54, 22, 22, 0.818) 100%);
    margin: 25px;
    border-radius: 15px;
    color:#ffffff;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
}

.card figcaption {
    width:170px;
    font-size: 18px;
    margin-bottom: 10px;
    height: 80px;
}

.card img {
    border-radius: 25px;
    width:300px;
    height:190px;
    margin-bottom: 20px;
}


