.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:1240px;
    height: 171px;
}

.header img {
    height: 5vh;
}

.header nav {
    color:#FF6060;
    font-size: 24px;
}

.header a {
    margin-left: 30px;
}

.header a:visited {
    color:#FF6060;
    
}