.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:1240px;
    min-height: 171px;
}

.header img {
    height: 5vh;
}

.header nav {
    color:#FF6060;
    font-size: 24px;
}

.header a {
    margin-left: 50px;
    font-weight: 500;
}

.header a:visited {
    color:#FF6060;    
}

.header a:hover {
    text-decoration: underline;
}

@media (max-width:1240px) {
    .header {
        width: 95%;
    }

    .header img {
        height:3vh;
    }

    .header nav {
    font-size: 12px;
    
}
.header a {
    margin-left: 10px;
    text-transform:uppercase;
}
}