.host-pic {
    width:64px;
    height:64px;
    border-radius: 50%;   
}
.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;   
}

.host p {
    width: min-content;
    padding-right: 10px;
    font-size: 18px;
}

@media (max-width:1240px) {
    .host {
        margin:5px 0;
    }
    .host p {
        font-size: 12px;
    }

    .host-pic {
        height: 32px;
        width: 32px;
    }
}